$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,*:before,*:after {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: 'Noticia Text', serif;
    }

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.container {
  margin-left: 325px;
	width:80%;
}

.landmark{
  display: inline-block;
  width: 18%; 
  float: left
}

.img-thumbnail{
  max-width: 80px;
  max-height: 80px;
  border-radius: 1em;
}

.main-pic{ 
  margin-bottom: 0;
  padding: 0;
  img {
    border-radius: 1em;
    border: 5px solid white;
    max-width: 100%;
  }
}

#map-canvas {
  border-radius: 1em;
  height: 45.5em;
  width: 50em;
  margin: 0px;
  margin-left: -15px;
  padding: 0px;
  border: 5px solid white;
}

.guess {
  margin-top: 1em;
}

body {
  background-color: #7e93a6 ;
  background-image: url(http://www.transparenttextures.com/patterns/brushed-alum.png);
}

.landmark {
  margin-top: 1em;
  margin-left: .5em;
}

.thumb {
  margin-left: 30px;
}

.discription {
  text-align: center;
}