$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,*:before,*:after {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: 'Noticia Text', serif;
    }

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.container {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
  width:97%;
}

#topbar {
  color:black;
  // height: 3em;
  margin-bottom: .5em;
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.landmark {
  display: inline-block;
  width: 18%; 
  float: left;
  margin-top: .3em;
  margin-left: .5em;
}

.img-thumbnail{
  max-width: 6em;
  max-height: 6em;
  border-radius: 1em;
  border: .05em solid white;
  opacity: 0.4;
}

.main-pic{ 
  margin-bottom: 0;
  padding: 0;
  width: 77.5%;
  margin-left: 13.2%;
  img {
    border-radius: 1em;
    border: .3em solid white;
    max-width: 100%;
  }
  h4 {
    margin-top: .2em;
    margin-bottom: .2em;
  }
}

#map-canvas, #score {
  border-radius: 1em;
  height: 43em;
  width: 45em;
  margin: 0px;
  margin-left: -15px;
  padding: 0px;
  border: .3em solid white;
  margin-left: .1em;
}

#score {
  background-color: #1f4f61;
  background-image: url(http://www.transparenttextures.com/patterns/egg-shell.png);
  padding: 0 2em 2em 2em;
}

.social {
  background-color: white;
  border-radius: 1em;
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.guess {
  margin: 0;
  font-weight: bold;
  font-size: 125%;
  border: .05em solid white;
  float: right;
}

.score-bar {
  padding: 0;
  margin-left: 6%;
}
.score {
  margin: 0;
  margin-top: 0.25em;
}
.score-submit-bar {
  margin-top: .1em;
  margin-bottom: .1em;
  width: 33em;
}

body {
  // background-color: #7e93a6 ;
  // background-image: url(http://www.transparenttextures.com/patterns/brushed-alum.png);
  background-image: url("../images/mod_tex_flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  hr {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.thumb {
  margin-left: .25em;
}

.discription {
  text-align: center;
}

.current {
  opacity: 1.0;
}

