<!doctype html>
<html class="no-js" ng-app="texquiz">
  <head>
    <meta charset="utf-8">
    <title>TEXQUIZ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <nav class="navbar navbar-default" role="navigation">
    <div id="topbar">
      <!-- Brand and toggle get grouped for better mobile display -->
        <center><h3>How well do you know Texas landmarks? Take the quiz!</h3></center>
        <center><p>Click on the map where you think the landmark is located, then click "Guess" to see if you were right!</p></center>
    </div>
  </nav>

    <div class="container" ng-controller="MainCtrl">
    
      <!-- <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
          <div class="thumbnail">
            <img class="pull-right" ng-src="images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
            <div class="caption">
              <h3>{{awesomeThing.title}}</h3>
              <p>{{awesomeThing.description}}</p>
              <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
            </div>
          </div>
        </div>
      </div> -->
  
<!-- EXAMPLE OF ANGULAR BUTTON
  <input type="text" ng-model="message">
  <button ng-click="myFunction(message)">Hi!</button> -->



      <div class="row">
        
        <!-- LEFT -->
        <div class="col-sm-5 col-md-5">
          <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-sm-10 col-md-10 picture main-pic centered">
              <img ng-src="images/{{currentLandmark.source}}" alt="{{currentLandmark.key}}">
                <div class="col-md-12 col-sm-12 description">
                  <center><h4>{{currentLandmark.description}}</h4></center>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-sm-7 col-md-7">
              <h3 class="score">Score: {{currentScore}} of {{currentLandmarkIterator * 10}} total points</h3>
            </div>
            <button ng-click = "returnScore()" class = "col-sm-3 col-md-3 guess btn btn-primary">Guess!</button>
          </div>

          <div class="row picture thumb">
            <div class="landmark" ng-repeat="landmark in landmarks">  
              <!-- <div class="col-sm-12 col-md-12"> -->
                <img ng-src="images/{{landmark.source}}" alt="{{landmark.key}}" class="img-thumbnail">
              <!-- </div> -->
            </div>
          </div>  
          
          <div class="row">
          </div>
          
        </div>

        <!-- RIGHT -->
        <div class="col-sm-7 col-md-7">
          <!-- MAP DIV -->
          <div class="row" id="map-canvas"></div>
          <!-- FINAL SCORE DIV TO REPLACE MAP -->
          <div class="row hide" id="score">
            <h2>FINAL SCORE: {{currentScore}} %</h2>
            <h4>{{message}}</h4>
            <div class="fb-share-button" data-href="http://localhost:3000" data-width="50"></div>
          </div>
        </div>



      </div> <!-- close row -->
    
    </div>

    
      <hr>
    
      <div class="footer">
        <div class="container">
          <p>Developed with &#10084; by Justin Lilly, Catherine O'Neill, and Daniel Turner</p>
        </div>
      </div>
    
    <!--BACKGROUND STUFF FOR FB BUTTON -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    //   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //   e.src='//www.google-analytics.com/analytics.js';
    //   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //   ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/texquiz.js"></script>
    <script src="scripts/main/main-ctrl.js"></script>
    <script src="scripts/map.js"></script>
    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
